
body {
    background: lightcyan;
}

h3 {
    margin-left: 10px;
    margin-top: 10px;
    font-style: italic;
}

.gif {
    margin: 10px;
    float: left;
}

.new-gif{
    margin: 20px 20px 20px 0px;
    float: left;
}
.gif-btn {
    margin: 5px;
}
.neat { 
    width: 150px;
    clear: both;
}