
body {
    background: url(../images/colorfulbackground.jpg)
}

h3 {

    font-style: italic;
    color: white;
}

.newGif{
    margin: 20px 20px 20px 0px;
    display: inline-block;
}
.gif-btn {
    margin: 5px;
}
.neat { 
 color: white;
}
